@model IEnumerable<FileResponse>
@{
    ViewBag.Title = "File List";
}


<h2>Files table</h2>

<a asp-controller="File" asp-action="AddFile" class="link-hover">Add file</a>

<table class="table">
    <thead>
        <tr>
            <th>File Name</th>
            <th>File Path</th>
            <th>Virtual folder</th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var file in Model)
        {
            <tr>
                <td>@file.FileName</td>
                <td>@file.FilePath</td>
                <td>@file.VirualFolderName</td>
                <td>
                    <a asp-controller="File" asp-action="Delete" asp-route-fileID="@file.Id" class="link-hover">Delete</a>
                    <a asp-controller="File" asp-action="AddText" asp-route-fileID="@file.Id" class="link-hover">Add text</a>
                    <a asp-controller="File" asp-action="Rename" asp-route-fileID="@file.Id" class="link-hover">Rename file</a>
                    <a asp-controller="File" asp-action="MoveToFolder" asp-route-fileID="@file.Id" class="link-hover">Move</a>
                </td>
            </tr>
        }
    </tbody>

</table>

<h2>Folder table</h2>

<table class="table">
    <thead>
        <tr>
            <th>Folder Name</th>
            <th>Virtual folder path</th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var folder in ViewBag.VirtualFolders)
        {
            <tr>
                <td>@folder.FolderName</td>
                <td>@folder.VirtualPath</td>
                <td>
                    <a asp-controller="Folder" asp-action="Delete" asp-route-folderID="@folder.Id" class="link-hover">Delete</a>
                    <a asp-controller="Folder" asp-action="UpdateFolder" asp-route-folderID="@folder.Id" class="link-hover">Update</a>
                    <a asp-controller="Folder" asp-action="MoveToFolder" asp-route-folderID="@folder.Id" class="link-hover">Move</a>
                </td>
            </tr>
        }
    </tbody>
</table>